{% extends 'header.html'%}
{% block contant %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
     
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container">
         </div>
         <!--banner section start -->
         <div class="banner_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{% static 'images/img-1.png'%}" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
                  

            </div>
         </div>
         <!--banner section end -->
      </div>
      <!--header section end -->
      <!--category section start -->
         {% if wishlist %}


         <div class="category_section_2">
            <div class="row">
               {% for i in wishlists %}

               <div class="col-lg-4 col-sm-12">
                  <div class="beds_section active">
                     <h1 class="bed_text">Up to 50% off |{{i.product.product_name}} </h1>
                     <div><img src="{{i.product.product_pic.url}}" class="image_2"></div>
                     <div class="seemore_bt"><a href="{% url 'single_product' pk=i.product.pk%}">see More</a></div>
                  </div>
               </div>
               {% endfor %}
      
            {% else %}
            <br>
            <br>
            <br>
               <h1> No item add to wishlist </h1>
            {% endif %}
                    
   </body>
</html>
{% endblock %}

